body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--background);
}

.box {
    width: 500px;
    height: 500px;
    background-color: var(--box);

    display: flex;
    flex-direction: column;
    align-items: center;
}